@charset "utf-8";
.aboutBg {
	background-color:#0FF;
	
}
.aboutBg #page {
	width:985px;
	height:auto;
	

}
.aboutBg center #page #container #txt {
	
	width:500px;
	height:350px;
	background-color:#0FF;
	position:absolute;
	left:30px;
	border-radius:20px;
	opacity:0.9;
	top:50px;
	
}

.aboutBg #page #NavBar #urapps {
	
	width: 100px;
	height: 50px;
	background-color: #FF0;
	position:absolute;
	top:0px;
	left: 270px;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
}



.aboutBg #page #NavBar #vid {
	
	width: 100px;
	height: 50px;
	position:absolute;
	left: 450px;
	background-color: #FF0;
	-webkit-transition: all 1ms 1ms;
	-moz-transition: all 1ms 1ms;
	-ms-transition: all 1ms 1ms;
	-o-transition: all 1ms 1ms;
	transition: all 1ms 1ms;
	
}


.aboutBg #page #NavBar #aboutUS {

    width: 100px;
	height: 50px;
	position:absolute;
	left: 100px;
	top:0px;
	background-color:#FF0;
	border-color:#000;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;

}
.aboutBg #page #NavBar #aboutUS #text01 {
	
	width:100px;
	height:50px;
	padding: 1px;
	padding-top: 11px;
	font-family:Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 1em;
	color: #F00;
	-webkit-transition: all 1ms 1ms;
	-moz-transition: all 1ms 1ms;
	-ms-transition: all 1ms 1ms;
	-o-transition: all 1ms 1ms;
	transition: all 1ms 1ms;


}
.aboutBg #page #NavBar #aboutUS:hover {
	background-color: #909;
}

.aboutBg #page #NavBar #aboutUS #text01:hover {
	color:#0FF;
}
	
.aboutBg #page #NavBar {
	width: 985px;
	height: 50px;
	position:absolute;
	background-color: #F00;
	top:120px;
	
}
.aboutBg #page #NavBar #urapps #text02 {
	
	width: 100px;
	height: 50px;
	color: #F00;
	padding: 1px;
	padding-top: 11px;
	font-family: Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 1em;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
}
.aboutBg #page #NavBar #urapps:hover {
	background-color: #90C;
}
.aboutBg #page  #NavBar #urapps #text02:hover {
	color: #0FF;
}


.aboutBg #page #NavBar #vid  #text03 {
	
	width: 100px;
	height: 50px;
	color: #F00;
	padding: 1px;
	padding-top: 11px;
	font-family: Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 1em;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
}
	
.aboutBg #page #NavBar #vid:hover {
	background-color: #90C;
}
.aboutBg #page #NavBar #vid #text03:hover {
	color:  #0FF;
}	
	
.aboutBg #page #NavBar #store {
	
	width: 100px;
	height: 50px;
	background-color: #FF0;
	position:absolute;
	left: 640px;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
	
}
.aboutBg #page #NavBar #store #text04 {
	
	width: 100px;
	height: 50px;
	color: #F00;
	padding: 1px;
	padding-top: 11px;
	font-family: Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 1em;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
}
 .aboutBg #page #NavBar #store:hover {
	background-color: #90C;
}
.aboutBg #page #NavBar #store #text04:hover {
	color: #0FF;
}

.aboutBg #page #NavBar #contact {
	
	
	width: 100px;
	height: 50px;
	background-color: #FF0;
	position:absolute;
	left: 810px;
	-webkit-transition: all 1ms ease 1ms;
	-moz-transition: all 1ms ease 1ms;
	-ms-transition: all 1ms ease 1ms;
	-o-transition: all 1ms ease 1ms;
	transition: all 1ms ease 1ms;
	
}
.aboutBg #page #NavBar #contact #text05 {
	
	
	width: 100px;
	height: 50px;
	color: #F00;
	padding: 1px;
	padding-top: 11px;
	font-family: Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 1em;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
}

.aboutBg #page #NavBar #contact:hover {
	background-color: #93C;
}
.aboutBg #page #NavBar #contact #text05:hover {
	color: #0FF;
}
 .aboutBg #page #text {
	width:985px;
	height:50px;
	position:absolute;
	top:40px;
	
	/*background-color:#F00;*/

}


 .aboutBg #page #logo {
	float:left;
	/*background-color:#0F3;*/
}
.aboutBg center #page #container {
    
	width:985px;
	height:450px;
	position:absolute;
	top:200px;
	background-color:#F36;
	
}



.aboutBg center #page #foot {
	
	background-color:#F00;
   	width:985px; 
	height:70px;
	position:absolute;
	top:685px;
}


.aboutBg #page #foot #facebook {
	width: 48px;
	height: 48px;
	/*background-color:#FF0;*/
	background-image: url(images/buttons/facebook01-01.png);
	position: absolute;
	left: 30px;
	top: 12px;
	-webkit-transition: all 1ms 1ms;
	-moz-transition: all 1ms 1ms;
	-ms-transition: all 1ms 1ms;
	-o-transition: all 1ms 1ms;
	transition: all 1ms 1ms;
	
}
.aboutBg #page #foot #twitter {
	
	width: 48px;
	height: 48px;
	/*background-color:#FF0;*/
	background-image: url(images/buttons/t-01.png);
	position: absolute;
	left: 100px;
	top: 12px;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
	
	
}



.aboutBg #page #foot #facebook:hover {
	background-image: url(images/buttons/facebook02-01.png);
}

.aboutBg #page #foot #twitter:hover {
	background-image: url(images/buttons/t02-01.png);
	
}

.aboutBg center #page #container .sorry {
	padding-top:50px;
}

.aboutBg #page  #MobileNav ul li a {

text-decoration:none;
visibility:hidden;

}




.aboutBg #page #MobileNav ul ul li a{
	padding-left:25px;
	margin:0px;
	display:block;
	text-decoration:none;
	visibility:hidden;
	


}

 .aboutBg #page #MobileNav ul li {

list-style:none;
visibility:hidden;

}

/*///////////////////////////////////mobile//////////////////////////////////////*/

@media screen and (max-width:768px){

.aboutBg #page {
	
width:100%;
/*height:20px;
background:#03F;*/


}

.aboutBg #page #text {
	width:98%;
	height:50px;
	
	/*background-color:#F00;*/

}

.aboutBg #page #NavBar {
	width:98%;
	height: 50px;

}


 .aboutBg #page #NavBar #aboutUS{
	
	left:1%;
}


.aboutBg #page #NavBar #urapps {

	left: 20%;

}

.aboutBg #page #NavBar #vid {

	left: 40%;

}


.aboutBg #page #NavBar #store {

	left: 60%;

}

.aboutBg #page #NavBar #contact {

	left: 80%;

}

 .aboutBg #page #logo {
	float:left;
	/*background-color:#0F3;*/
}
.aboutBg center #page #container {
    
	width:98%;
	height:450px;
	position:absolute;
	top:200px;
	
	
}



.aboutBg center #page #foot {
	
	background-color:#F00;
   	width:98%; 
	height:70px;
	position:absolute;
	
}


.aboutBg #page #foot #facebook {
	width: 48px;
	height: 48px;
	/*background-color:#FF0;*/
	background-image: url(images/buttons/facebook01-01.png);
	position: absolute;
	left: 30px;
	top: 12px;
	-webkit-transition: all 1ms 1ms;
	-moz-transition: all 1ms 1ms;
	-ms-transition: all 1ms 1ms;
	-o-transition: all 1ms 1ms;
	transition: all 1ms 1ms;
	
}
.aboutBg #page #foot #twitter {
	
	width: 48px;
	height: 48px;
	/*background-color:#FF0;*/
	background-image: url(images/buttons/t-01.png);
	position: absolute;
	left: 100px;
	top: 12px;
	-webkit-transition: all 1ms ease-in 1ms;
	-moz-transition: all 1ms ease-in 1ms;
	-ms-transition: all 1ms ease-in 1ms;
	-o-transition: all 1ms ease-in 1ms;
	transition: all 1ms ease-in 1ms;
	
	
	
}



.aboutBg #page #foot #facebook:hover {
	background-image: url(images/buttons/facebook02-01.png);
}

.aboutBg #page #foot #twitter:hover {
	background-image: url(images/buttons/t02-01.png);
	
}

.aboutBg center #page #container {
	width:98%;
	height:450px;
	top:200px;
}

}

@media screen and (max-width:480px){


.aboutBg #page  {
	
width:100%;
/*height:20px;
background:#C03;*/


}


.aboutBg #page #logo {
	float:left;
	left:20px;
	top:30%;
	position:absolute;
}



.aboutBg #page #text {

	top:5%;


}




.aboutBg #page #NavBar {
	width:96%;
	height: 50px;
	top:15%;
    position:absolute;
}


.aboutBg #page #NavBar #aboutUS {
	
	left:1%;
	display:none;
}


.aboutBg #page #NavBar #urapps {

	left: 20%;
	display:none;
}

.aboutBg #page #NavBar #vid {

	left: 43%;
	display:none;

}


.aboutBg #page #NavBar #store {

	left: 65%;
	display:none;

}

.aboutBg #page #NavBar #contact {

	left: 85%;
	display:none;
	
	
}
.aboutBg #page #MobileNav {
	
	width:100px;
	height:50px;
	position:absolute;
	background-color:#FF0;
	top:15%;
	left:160px;
	display:block;
	
}

.aboutBg #page  #MobileNav:hover {
	background-color:#90C;
}


.aboutBg #page #MobileNav ul li a {

font-family:Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
color:#F00;
text-decoration:none;
padding:0px;
margin:0px;
position:relative;
text-align:center;
display:block;
left:-23px;
padding-top:10px;
visibility:visible;

}





.aboutBg #page #MobileNav ul li {
	list-style:none;
	padding:0px;
	margin:0px;
	position:relative;
	
	

}

.aboutBg #page #MobileNav ul li ul{
	
	padding:0px;
	margin:0px;
	position:absolute;
	visibility:hidden;
	

}


.aboutBg #page #MobileNav ul:hover a {
	
	padding:0px;
	margin:0px;
	padding-top:10px;
	visibility:visible;
	color:#0FF;

}

.aboutBg #page  #MobileNav ul:hover ul{
	

	position:absolute;
	visibility:visible;
	background-color:#90C;

}


.aboutBg #page  #MobileNav ul {
	
	padding:0px;
	margin:0px;
	display:block;
	width:0px;
	height:0px;
	
	

}

.aboutBg #page  #MobileNav ul ul {
	
	padding:0px;
	margin:0px;
	display:block;
	width:120px;
	height:180px;
	left:-49px;
	background-color:#FF0;
	


	

}
.aboutBg #page  #MobileNav ul ul li  {
	padding-left:25px;
	margin:0px;
	display:block;
	background-color:#FF0;
	



	

}


.aboutBg #page   #MobileNav ul ul li a {
	
	display:block;

}



.aboutBg #page  #MobileNav ul ul li a:hover {
	
	display:block;
	color:#F00;	


}


.aboutBg center #page #container {
    
	width:96%;
	height:450px;
	position:absolute;
	top:300px;
	
	
}

.aboutBg center #page #foot {
	
   	width:96%;
	top:800px;
	

}


	
}




@media screen and (max-width:320px){
	
.aboutBg #page  {
	
width:100%;
/*height:20px;
background:#39F;*/


}

.aboutBg #page #logo {
	float:left;
	left:20px;
	top:30%;
	position:absolute;
}



.aboutBg #page #text {

	top:5%;


}




.aboutBg #page #NavBar {
	width:96%;
	height: 50px;
	top:15%;
    position:absolute;
}


.aboutBg #page #NavBar #aboutUS {
	
	left:1%;
	display:none;
}


.aboutBg #page #NavBar #urapps {

	left: 20%;
	display:none;
}

.aboutBg #page #NavBar #vid {

	left: 43%;
	display:none;

}


.aboutBg #page #NavBar #store {

	left: 65%;
	display:none;

}

.aboutBg #page #NavBar #contact {

	left: 85%;
	display:none;
	
	
}
.aboutBg #page #MobileNav {
	
	width:100px;
	height:50px;
	position:absolute;
	background-color:#FF0;
	top:15%;
	left:160px;
	display:block;
	
}

.aboutBg #page  #MobileNav:hover {
	background-color:#90C;
}


.aboutBg #page #MobileNav ul li a {

font-family:Showcard Gothic,Impact,"Franklin Gothic Bold", "Arial Black", sans-serif;
color:#F00;
text-decoration:none;
padding:0px;
margin:0px;
position:relative;
text-align:center;
display:block;
left:-23px;
padding-top:10px;
visibility:visible;

}





.aboutBg #page #MobileNav ul li {
	list-style:none;
	padding:0px;
	margin:0px;
	position:relative;
	
	

}

.aboutBg #page #MobileNav ul li ul{
	
	padding:0px;
	margin:0px;
	position:absolute;
	visibility:hidden;
	

}


.aboutBg #page #MobileNav ul:hover a {
	
	padding:0px;
	margin:0px;
	padding-top:10px;
	visibility:visible;
	color:#0FF;

}

.aboutBg #page  #MobileNav ul:hover ul{
	

	position:absolute;
	visibility:visible;
	background-color:#90C;

}


.aboutBg #page  #MobileNav ul {
	
	padding:0px;
	margin:0px;
	display:block;
	width:0px;
	height:0px;
	
	

}

.aboutBg #page  #MobileNav ul ul {
	
	padding:0px;
	margin:0px;
	display:block;
	width:120px;
	height:180px;
	left:-49px;
	background-color:#FF0;
	


	

}
.aboutBg #page  #MobileNav ul ul li  {
	padding-left:25px;
	margin:0px;
	display:block;
	background-color:#FF0;
	


	

}


.aboutBg #page   #MobileNav ul ul li a {
	
	display:block;

}



.aboutBg #page  #MobileNav ul ul li a:hover {
	
	display:block;
	color:#F00;	


}

.aboutBg center #page #container {
    
	width:96%;
	height:450px;
	position:absolute;
	top:300px;
	
	
}

.aboutBg center #page #foot {
	
   	width:96%;
	top:800px;
	

}

.aboutBg center #page #container img{
	
	width:100%;
	height:70%;
	
}

}

